@model Examenes.ViewModels.ClientDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>

    <hr />

    <dlv class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <hr />
        @if (Model.Address != null)
            {
                <div class="row">
                    <dt class="col-sm-12 h3 mt-4"> <p>Direccion</p> </dt><dd></dd>
                    <dt class="col-sm-2"><p>City:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.City</p></dd>

                    <dt class="col-sm-2"><p>Street:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.Street</p></dd>

                    <dt class="col-sm-2"><p>Number:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.Number</p></dd>

                    <dt class="col-sm-2"><p>Apartment:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.Apartment</p></dd>

                    <dt class="col-sm-2"><p>Notes:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.Notes</p></dd>

                    <dt class="col-sm-2"><p>Postal Code:</p></dt>
                    <dd class="col-sm-10"><p>@Model.Address.PostalCode</p></dd>
                </div>
            }
        <div class="form-group row justify-content-around col-6">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mt-3 col-3">Editar</a> 
            @if(Model?.Address != null){
                <a type="button" asp-controller="Address" asp-action="Edit"asp-route-id="@Model?.Address.Id" class="btn btn-warning mt-3 col-3">Editar dirección</a>
            }
            <a asp-action="Index" class="btn btn-info mt-3 col-3">Volver a la lista</a>
        </div>
    </dlv>
</div>

