@model Examenes.ViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
    int iteration = 1;
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddressData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddressData)
        </dd>
        <dt class="col-sm-2 mt-4 h3">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        @if (Model.Products.Any())
        {

            foreach (var item in Model.Products)
            {
                <dd class="col-sm-10">

                </dd>
                <dd class="col-sm-10">
                    @($"{iteration}. {item.Name} - {item.Description}")
                </dd>
                iteration++;
            }
        }
        else
        {
            <dd class="col-sm-10">
                No products
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
