@model Examenes.ViewModels.OrderIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<h3>Listado de ordenes</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Crear</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Order">
        <div class="form-group mx-sm-3 mb-2 row" style="max-width:600px">
            <input class="form-control " asp-for="Filter" style="max-width:50%">
            <button type="submit" class="btn btn-primary ml-3" style="max-width:15%; margin-left: 10px;">Buscar</button>
        </div>

    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ShippingAddressData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ProductsQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ClientData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddressData)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ProductsQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientData)
                </td>
                <td align="right">
                    <div class="row justify-content-end flex-nowrap">
                        <div class="col-4" style="max-width:100px">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary ">Editar</a>
                        </div>
                        <div class="col-4" style="max-width:100px">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning ">Detalles</a>
                        </div>
                        <div class="col-4" style="max-width:100px">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
