@model Examenes.ViewModels.AddressIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Address">
        <div class="form-group mx-sm-3 mb-2 row" style="max-width:600px">
            <input class="form-control " asp-for="Filter" style="max-width:50%">
            <button type="submit" class="btn btn-primary ml-3" style="max-width:15%; margin-left: 10px;">Buscar</button>
        </div>

    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses.First().ClientFirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Addresses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientFirstName) @Html.DisplayFor(modelItem => item.ClientLastName)
                </td>
                <td align="right"  class="row justify-content-end">
                    <div class="col-4" style="max-width:100px">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary ">Editar</a> 
                    </div>
                    <div class="col-4" style="max-width:100px">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning ">Detalles</a> 
                    </div>
                    <div class="col-4" style="max-width:100px">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger  ">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
